dist
.wrangler
.output
.vercel
.netlify
.nitro
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/

# Temp
gitignore
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
